@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Zen+Old+Mincho&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Marcellus", serif;
  --font-decoration: "Zen Old Mincho", serif;
}

.upside {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}
