@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Zen+Old+Mincho&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";
@import "./text-custom.css";

@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Marcellus", serif;
  --font-decoration: "Zen Old Mincho", serif;
  --color-primary: #2e2e2e;
  --color-secondary: #fffff;
  --color-accent: #505050;
}

/* Upside for Japanese Text */
.upside {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* Remove Scrollbar */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /*background-color: var(--color-primary);*/
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

body::before,
body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
}

html,
body {
  background-color: var(--color-primary);
  overscroll-behavior-y: none;
}

/* Texture overlay */
body::after {
  background: url("/texture.png") repeat;
  opacity: 0.08;
  mix-blend-mode: overlay;
  z-index: 50;
  inset: -6rem;
}

/* Animation texture */
/*@media (prefers-reduced-motion: no-preference) {
  body::after {
    animation: glitch 2s infinite;
  }
}*/

/*@keyframes glitch {
  0% {
    transform: translate(0);
    opacity: 0.08;
  }
  20% {
    transform: translate(-2px, 2px);
    opacity: 0.12;
  }
  40% {
    transform: translate(2px, -2px);
    opacity: 0.08;
  }
  60% {
    transform: translate(-1px, 1px);
    opacity: 0.1;
  }
  80% {
    transform: translate(1px, -1px);
    opacity: 0.09;
  }
  100% {
    transform: translate(0);
    opacity: 0.08;
  }
}
.animate-glitch {
  animation: glitch 3s infinite;
}*/
