@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Zen+Old+Mincho&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Marcellus", serif;
  --font-decoration: "Zen Old Mincho", serif;
  --color-primary: #2e2e2e;
  --color-secondary: #fffff;
}

.upside {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    opacity: 0.08;
  }
  20% {
    transform: translate(-2px, 2px);
    opacity: 0.12;
  }
  40% {
    transform: translate(2px, -2px);
    opacity: 0.08;
  }
  60% {
    transform: translate(-1px, 1px);
    opacity: 0.1;
  }
  80% {
    transform: translate(1px, -1px);
    opacity: 0.09;
  }
  100% {
    transform: translate(0);
    opacity: 0.08;
  }
}
.animate-glitch {
  animation: glitch 3s infinite;
}
